.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

*.zip
*.tar.gz
*.rar

*.log
npm-debug.log*

node_modules/
